= render partial: 'resources'
br

= render partial: 'working_hours_report'
br

= render partial: 'working_hours_estimation'
br

= render partial: 'rework_resources_report'
br

= render partial: 'release_calendar'
br

= render partial: 'resource_provision'
br

= render partial: 'release_stats'
br
